/***
login poup sucess message
***/


@media (min-width: 480px) and (max-width: 580px) { 
div.mobile_responsive {
		      width: 90% !important;
				left: 58% !important;	
		}


}

@media (min-width: 360px) and (max-width: 480px) {
   div.mobile_responsive {
			width: 85% !important;
			left: 75% !important;	
		}
}

@media (min-width: 320px) and (max-width: 360px) {
div.mobile_responsive {
			width: 100% !important;
			left:70% !  important;	
		}
}

@media (max-width: 320px)  {
	 div.mobile_responsive {
			width: 100% !important;
			    left: 90% !important;	
		}
	
}
/***
end login poup sucess message
***/

/***
resident approve screen
***/



@media (max-width: 648px)  {
	 div.mobile_responce {
			overflow-x:auto !important;
		}
		div.resident_reply_responce {
			overflow-x:auto !important;
			overflow-y:auto !important;
		}
		
}
	@media (max-width: 720px)  {
	 i.mobile_responce {
			    display: none !important;
		}
	}

/***
end resident approve screen
***/


/***
 member profile view
***/

@media (max-width: 650px) {
   div.profile_responsive {
			width:auto !important;
				
		}
}

/***
end member profile view
***/

@media (max-width: 650px) {
   div.group_responsive {
			width:auto !important;
				
		}
}

/***
 Group 
***/




/***
end Group
***/